* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body h1 {
  text-align: center;
  font-size: 1.6em;
  color: black;
}

#filterOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}