.App {
  width: 100%;
  min-height: 100vh;
  background-color: #15202b;
  display: grid;
  grid-template-columns: 1fr minmax(500px,2fr) 1fr;
  grid-gap: 10px;

  main {
    grid-column: 2;
    padding: 0 10px;
  }
}